apiVersion: v1
kind: Service
metadata:
  name: task-manager
  namespace: podpilot
spec:
  selector:
    app: task-manager
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP